@model IEnumerable<BluDataList.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nova Empresa", "CriaEmpresa")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeFantasia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CNPJ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFantasia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CNPJ)
        </td>
        <td>
            @Html.ActionLink("Fornecedor", "Fornecedores", new { id=item.Id, uf=item.UF }) ||
            @Html.ActionLink("Excluir", "DeleEmpresa", new { id=item.Id })
        </td>
    </tr>
}

</table>
